@using Blog.Common;
@using Blog.Pages;
@using Blog.Infrastructure;
@using Blog.Entities.V1;
@Html.AntiForgeryToken()
@model Customer

@{
    ViewBag.Title = "Standard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <span class="active" href="#">Customer Edit</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="font-dark"></i>
                                    <span class="caption-subject bold uppercase">Customer Edit</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                @using (Html.BeginForm(Actions.CustomerEdit, Controllers.Customers, FormMethod.Post, new { enctype = "multipart/form-data", area = "", returnUrl = "", @id = "frmCustomer", @class = "form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => model.Id)
                                <div class="form-body">
                                    <div class="alert alert-danger display-hide">
                                        <button class="close" data-close="alert"></button> You have some form errors. Please check below.
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Enter First Name
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "First Name" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Enter Last Name
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Enter Email
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Enter Mobile
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", placeholder = "Mobile" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Enter School Name
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.SchoolName, new { @class = "form-control", placeholder = "School Name" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Enter City
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder = "City" })
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="offset-md-3 col-md-7" style="text-align:right">
                                                <button type="submit" class="btn green">Submit</button>
                                                <a href="@Url.Action(Actions.Index, Controllers.Customers )" title="Cancel" class="btn grey-salsa btn-outline">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>


<script type="text/javascript">


    jQuery(document).ready(function () {
        FormValidation.init();
    });

    var FormValidation = function () {
        // basic validation
        var handleValidation1 = function () {

            var form1 = $('#frmCustomer');
            var error1 = $('.alert-danger', form1);
            //var success1 = $('.alert-success', form1);

            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    FirstName: {
                        required: true
                    },
                    LastName: {
                        required: true
                    },
                    Email: {
                        required: true
                    },
                    Mobile: {
                        required: true
                    },
                    SchoolName: {
                        required: true
                    },
                    City: {
                        required: true
                    },
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    //success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var cont = $(element).parent('.input-group');
                    if (cont.size() > 0) {
                        cont.after(error);
                    } else {
                        element.after(error);
                    }
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    //success1.show();
                    error1.hide();
                    console.log($("#Id").val());
                    $("#Id").val((atob($("#Id").val())));
                    $("#frmCustomer").val((atob($("#frmCustomer").val())));
                    form.submit();
                    loaderon();
                }
            });
        }

        return {
            //main function to initiate the module
            init: function () {
                handleValidation1();
            }
        };
    }();
    

</script>



